# Maven projects
/cim1-converter/target/
/cim1-model/target/
/distribution-entsoe/target
/entsoe-util/target/
/target
/ucte-converter/target/
/ucte-network/target/

# IntelliJ
/.idea
*.iml

# iPST compilation settings
install.cfg
