# Maven projects
/cim-anonymiser/target/
/cim1-import/target/
/cim1-model/target/
/distribution/target
/entsoe-case-repository/target
/entsoe-util/target/
/network-merge/target/
/target
/ucte-import/target/
/ucte-network/target/

# IntelliJ
/.idea
*.iml

# iPST compilation settings
install.cfg
